// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

}

.card-header{
    font-size: 20px;
}

.article-list, .article-category-list{
    margin:15px;
}

.article-list, .article-category-list td{
    margin-left:10px;
    margin-right: 10px;
    padding:5px;
}
.article-list tr{
    //margin:5px;
}

.btn-space {
margin: 3px;
}


